@model MyPasswordsViewModel
@{
    ViewData["Title"] = "Şifre Kaydını Düzenle";
}
<div class="row">
    <div class="col-lg-8">
        <form id="kaydetForm" method="post" autocomplete="off" class="form" asp-controller="Passwords" asp-action="UpdatePassword">
            <input type="hidden" asp-for="Id" />
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="row fv-row mb-7">
                                <div class="col-md-4">
                                    <label asp-for="Description" class="fs-6 fw-bold form-label mt-3">Kayıt Tanımı</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-solid" asp-for="Description" />
                                    <span asp-validation-for="Description" class="text-danger fw-bold"></span>
                                </div>
                            </div>

                            <div class="row fv-row mb-7">
                                <div class="col-md-4">
                                    <label asp-for="URL" class="fs-6 fw-bold form-label mt-3">Kayıt Adresi</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-solid" asp-for="URL" />
                                    <span asp-validation-for="URL" class="text-danger fw-bold"></span>
                                </div>
                            </div>

                            <div class="row fv-row mb-7">
                                <div class="col-md-4">
                                    <label asp-for="Description" class="fs-6 fw-bold form-label mt-3">Kategori</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control bg-light border-0" id="sselect2" asp-for="CategoryID">
                                        <option value="">Kategori Seçiniz</option>
                                        @foreach (var item in ViewBag.Categories)
                                        {
                                            <option value="@item.Id">@item.CategoryName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="CategoryID" class="text-danger fw-bold"></span>
                                </div>
                            </div>

                            <div class="row fv-row mb-7">
                                <div class="col-md-4">
                                    <label asp-for="UserName" class="fs-6 fw-bold form-label mt-3">Kullanıcı Adı</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-solid" asp-for="UserName" />
                                    <span asp-validation-for="UserName" class="text-danger fw-bold"></span>
                                </div>
                            </div>

                            <div class="row fv-row mb-2">
                                <div class="col-md-4">
                                    <label asp-for="Password" class="fs-6 fw-bold form-label mt-3">Şifre</label>
                                </div>
                                <div class="col-md-6" data-kt-password-meter="true">
                                    <div class="position-relative mb-3">
                                        <input type="password" class="form-control form-control-solid" asp-for="Password" value="@Model.Password"/>
                                        <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                            <i class="bi bi-eye-slash fs-2"></i>
                                            <i class="bi bi-eye fs-2 d-none"></i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger fw-bold"></span>
                                </div>
                                <div class="col-lg-2">
                                    <button type="button" data-kt-ecommerce-settings-type="submit" id="generateBtn" class="btn btn-primary">Şifre Üret</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-md-9 offset-md-3">
                    <div class="d-flex justify-content-end">
                        <a href="/Passwords/PasswordList/" class="btn btn-light me-3">Geri</a>
                        <button type="submit" data-kt-ecommerce-settings-type="submit" id="submitBtn" class="btn btn-success">
                            Kaydet
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>

        $('#generateBtn').click(function () {
            $.ajax({
                type: "GET",
                url: '/Passwords/GeneratePassword',
                datatype: 'json',
                success: function (response) {
                    if (response.success) {
                        $("#Password").val(response.data);
                    }
                },
                error: function (response) {
                    console.log(response.message);
                }
            });
        });
    </script>
    <script>
        $('#sselect2').select2({});
    </script>
}