@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Hata.</h1>
<h2 class="text-danger">Üzgünüz. Beklenmedik bir hata meydana geldi.</h2>

@if (Model.Errors.Any())
{
    <div class="alert alert-danger">
        @foreach (var item in Model.Errors)
        {
            <p>@item</p>
        }


    </div>
}