@model PasswordChangeViewModel

<body>
    <div class="card mb-5 mb-xl-10">

        <div class="card-header border-0" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">

            <div class="card-title m-0">
                <h3 class="fw-bolder m-0">Şifre Değiştir</h3>
            </div>

        </div>

        <div id="kt_account_settings_profile_details" class="collapse show">
            <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
            </div>
            <form id="kt_account_profile_details_form" class="form" method="post" autocomplete="off" asp-controller="User" asp-action="PasswordChange">
                <div class="card-body border-top p-9">

                    <div class="row mb-6">
                        <label asp-for="OldPassword" class="col-lg-4 col-form-label fw-bold fs-6">Eski Şifre</label>
                        <div class="col-lg-8 fv-row">
                            <input type="password" name="OldPassword" class="form-control form-control-lg form-control-solid" />
                        </div>
                    </div>

                    <div class="row mb-6" data-kt-password-meter="true">
                        <label asp-for="NewPassword" class="col-lg-4 col-form-label fw-bold fs-6">Yeni Şifre</label>
                        <div class="col-lg-6 fv-row position-relative">
                            <input type="password" asp-for="NewPassword" class="form-control form-control-lg form-control-solid" />
                            <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                <i class="bi bi-eye-slash fs-2"></i>
                                <i class="bi bi-eye fs-2 d-none"></i>
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" data-kt-ecommerce-settings-type="submit" id="generateBtn" class="btn btn-primary">Şifre Üret</button>
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label asp-for="ConfirmPassword" class="col-lg-4 col-form-label fw-bold fs-6">Onay Şifre</label>
                        <div class="col-lg-8 fv-row">
                            <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg form-control-solid" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger fw-bold"></span>
                        </div>
                    </div>

                </div>

                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <a href="~/User/MyProfile/" class="btn btn-light btn-active-light-primary me-2">Geri</a>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>

            </form>

        </div>

    </div>

    @section Scripts {
        <script>
            $('#generateBtn').click(function () {
                $.ajax({
                    type: "GET",
                    url: '/Passwords/GeneratePassword',
                    datatype: 'json',
                    success: function (response) {
                        if (response.success) {
                            $("#NewPassword").val(response.data);
                        }
                    },
                    error: function (response) {
                        console.log(response.message);
                    }
                });
            });
        </script>
    }
</body>